<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="httpRequestHandlerAdapter"
		class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter" />

	<bean id="hproseHttpServiceEventExporter" class="org.springframework.remoting.hprose.HproseHttpServiceEventExporter"/>

	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/rpc/sms">smsSendService</prop>
				<prop key="/rpc/email">emailSendService</prop>
			</props>
		</property>
	</bean>

	<bean name="smsSendService"
		class="org.springframework.remoting.hprose.HproseHttpServiceExporter">
		<property name="event" ref="hproseHttpServiceEventExporter"/>
		<property name="debug" value="${rpc.hprose.debug}"/>
		<property name="service" ref="smsSendServiceImpl"/>
		<property name="serviceInterface"
			value="com.inschos.cloud.message.handing.access.rpc.service.SmsSendService" />
	</bean>
	<bean name="emailSendService"
		class="org.springframework.remoting.hprose.HproseHttpServiceExporter">
		<property name="event" ref="hproseHttpServiceEventExporter"/>
		<property name="debug" value="${rpc.hprose.debug}"/>
		<property name="service" ref="emailSendServiceImpl"/>
		<property name="serviceInterface"
			value="com.inschos.cloud.message.handing.access.rpc.service.EmailSendService" />
	</bean>




</beans>